<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="css/text">
    <title>Perfil</title>
</head>
<body>

    <% if (perfil) { %>

        <h1>Seja bem vindo <%=perfil%></h1>
        <hr>
        <h2>Você deseja voltar?</h2>
        <button onclick="window.location.href='/perfil'">SIM</button>
      

        <%}
        
        
        else { %>

            <H1>Crie sua conta agora</H1>
            
            <button onclick="window.location.href='/perfil/Marcelo'">Clique aqui</button>


        <%} %>
        
</body>
</html>