<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>produtos</title>
</head>
<body>
    <h1>Confira esse produtos</h1>
    <ul>
        <!--Chamado variavel com tags do ejs-->
        <li><%=produto%></li>

    </ul>
    <hr>
    <p>Faça seu pedido agora!</p>
    
</html>